* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  background-color: #fa8bff;
  background-image: linear-gradient(
    45deg,
    #fa8bff 0%,
    #2bd2ff 52%,
    #2bff88 90%
  );
}
.cards {
  flex-wrap: wrap;
}
.cards .card {
  width: 270px;
  height: 495px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(0, 0, 0, 0.3);
  margin: 30px;
  border: none;
  cursor: pointer;
  transition: all ease-out 0.5s;
}

/*?COLORES DE LAS CARDS*/
.card1 {
  background: linear-gradient(#62e38f, #d5ebe7);
}
.card2 {
  background: linear-gradient(#62e38f, #d5ebe7);
}
.card3 {
  background: linear-gradient(#62e38f, #d5ebe7);
}
.card4 {
  background: linear-gradient(#62e38f, #d5ebe7);
}
.card5 {
  background: linear-gradient(#62e38f, #d5ebe7);
}
.card6 {
  background: linear-gradient(#62e38f, #d5ebe7);
}
.card7 {
  background: linear-gradient(#62e38f, #d5ebe7);
}
.card8 {
  background: linear-gradient(#62e38f, #d5ebe7);
}
.card9 {
  background: linear-gradient(#62e38f, #d5ebe7);
}
/*?COLORES DE LAS CARDS*/

.cards:hover .card {
  filter: blur(0px);
  transform: scale(1);
  opacity: 0.5;
}
.cards .card:hover {
  filter: blur(0px);
  transform: scale(1.1);
  opacity: 1;
}
.content {
  flex-direction: column;
  padding: 10px;
}
.content img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-top: 10px;
}
.content h1 {
  font-size: 20px;
  padding-top: 8px;
}
.content p {
  text-align: center;
  font-size: 14px;
  padding: 10px;
}

/**BOTONES*/
.btn-cssbuttons {
  --btn-color: #010305;
  position: relative;
  padding: 12px 28px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: white;
  background: none;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  filter: drop-shadow(0 2px 8px rgba(39, 94, 254, 0.32));
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--btn-color);
  border-radius: 24px;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons span,
.btn-cssbuttons span span {
  display: inline-flex;
  vertical-align: middle;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons span {
  transition-delay: 0.05s;
}

.btn-cssbuttons span:first-child {
  padding-right: 7px;
}

.btn-cssbuttons span span {
  margin-left: 8px;
  transition-delay: 0.1s;
}

.btn-cssbuttons ul {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform: translateY(-50%);
}

.btn-cssbuttons ul li {
  flex: 1;
}

.btn-cssbuttons ul li a {
  display: inline-flex;
  vertical-align: middle;
  transform: translateY(55px);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons ul li a:hover {
  opacity: 0.5;
}

.btn-cssbuttons:hover::before {
  transform: scale(1.2);
}

.btn-cssbuttons:hover span,
.btn-cssbuttons:hover span span {
  transform: translateY(-55px);
}

.btn-cssbuttons:hover ul li a {
  transform: translateY(0);
}

.btn-cssbuttons:hover ul li:nth-child(1) a {
  transition-delay: 0.15s;
}

.btn-cssbuttons:hover ul li:nth-child(2) a {
  transition-delay: 0.2s;
}

.btn-cssbuttons:hover ul li:nth-child(3) a {
  transition-delay: 0.25s;
}
/*?BOTONES */

/*?NAVBAR*/

header {
  width: 100%;
  padding: 20px;
  justify-content: space-around !important;
}
header .logo img {
  width: 50px;
  height: 50px;
}
header h1 {
  padding-top: 10px;
  padding-left: 5px;
  cursor: pointer;
}
header h1 span {
  color: rgb(8, 205, 8);
}
header ul {
  margin: 20px, 0px, 0px, 20px;
}
header ul li {
  padding: 20px 20px;
  transition: all 0.5s;
}
header ul li a {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.705);
  font-weight: 800;
  transition: color ease-out 0.6s;
  text-decoration: none;
}
header ul li a:hover {
  color: rgb(252, 252, 252);
}

/*BOTON LOGIN */
.fancy {
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-right: 0px;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.fancy::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: black;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
  color: white;
  background: black;
}

.fancy:hover::before {
  width: 0.9375rem;
  background: white;
}

.fancy:hover .text {
  color: white;
  padding-left: 1.5em;
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}
