
#menuButton {
    width: 45px;
    height: 40px;
    cursor: pointer;
    color: #49989e;
    background: transparent;
    border: none;
    display: none;
    font-size: 1.5rem;
}

#menuButton:focus {
    outline: none;
}

#menuButton:hover {
    color: #0d3c3f;
}

.shopping-cart .sum-prices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#sum-prices {
    padding-left: 5px;
}

.sum-prices h6 {
    font-size: 0.9rem;
}

.shoppingCartButton {
    cursor: pointer;
}

.shoppingCartButton:hover,
.account:hover * {
    color: #00f3f3; 
}

.producstOnCart {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overscroll-behavior: contain;
    background-color: #202020;
    width: 300px;
    height: 500px;
    color: #f0f0f0;
    z-index: 15;
    position: fixed;
    top: 20px;
    right: 0;
    text-align: center;
    animation: fade 1s;
}

.producstOnCart::-webkit-scrollbar {
    display: none;
}

@keyframes fade {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: none;
    }
}

.producstOnCart::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.hide {
    display: none;
    visibility: none;
}

.producstOnCart ul {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.producstOnCart .buyItem {
    border-bottom: #aaa 1px solid;
    width: 90%;
    padding: 10px 0;
    display: flex;
}

.producstOnCart img {
    width: 90px;
}

.producstOnCart .top {
    display: flex;
    background-color: #616161;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
}

.top button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    margin-left: 10px;
    color: #c24c37;
    cursor: pointer;
}

.top button:hover {
    color: #e40505;
}

.top h3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.producstOnCart > .checkout {
    font-size: 0.9rem;
    margin: 20px auto;
    border: none;
    background-color: #297075;
    padding: 10px 20px;
    color: #eee;
    cursor: pointer;
}

.overlay {
    overflow: hidden;
    display: inline-block;
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: rgba(0, 0, 0, 0.5);
}



.buyItem h6 {
    margin-bottom: 10px;
}

.buyItem button {
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-weight: 900;
    font-size: 1.2rem;
    padding: 0 6px;
    border: none;
}

.buyItem button:active {
    color: #96c8cc;
}

.buyItem > div {
    padding: 0 20px;
}

.producstOnCart .empty {
    justify-self: center;
    margin: 150px auto;
}

.price {
    color: #dd3333;
    margin-top: 10px;
    text-align: left;
    padding: 5px;
    font-size: 1rem;
}



#hearderSlide {
    background-color: #49989e;
    height: 55vh;
    position: relative;
}

#hearderSlide .MS-content {
    margin: 0 1%;
    white-space: nowrap; /* required */
    overflow: hidden; /* required */
    height: 100%;
}

#hearderSlide .item {
    display: inline-block;
    width: 33.3333%; /* required * Determines number of visible slides */
    position: relative; /* required */
    vertical-align: top; /* required */
    overflow: hidden; /* required */
    height: 100%; /* recommended */
    white-space: normal;
}

.item img {
    width: 100%;
    height: 100%;
    padding: 20px 10px;
}

#hearderSlide .MS-controls .MS-left {
    border: none;
    left: 10px;
}
#hearderSlide .MS-controls .MS-right {
    border: none;
    right: 10px;
}

.MS-right:focus,
.MS-left:focus {
    outline: none;
}
.MS-right:active,
.MS-left:active {
    color: #fff;
    background-color: #49989e;
}

#hearderSlide .MS-right {
    position: absolute;
    font-weight: bolder;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#hearderSlide .MS-left {
    font-weight: bolder;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}


.product-container {
    /* max-width: 1600px; */
    margin: auto;
    /* width: 88vw; */
    position: relative;
}
.main-section h3 {
    font-size: 1.3rem;
    padding: 50px;
}

.products {
    grid-gap: 50px;
}

.product {
    position: relative;
    text-align: center;
    height: 700px;
    width: 500px;
    border-radius: 5px;
    overflow: hidden;
}

.product-under {
    width: 100%;
    height: 100%;
    
}

.product-over {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    animation-name: show_top;
    animation-duration: 1s;
    backdrop-filter: blur(5px);
}
@keyframes show_top {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.product-image:hover .product-over {
    display: flex;
    flex-direction: column;
}

.product-image {
    position: relative;
    height: 72%;
    background-color: #eee;
}

.product-image img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.product-summary {
    font-size: 0.9rem;
    position: relative;
    padding: 10px;
    height: 180px;
    background-color: #282828;
    border-radius: 5px;
}

.product-summary > .price {
    position: absolute;
    left: 20px;
    bottom: 0;
}

