h1{
    text-align: center;
}

#botonenviar{

    background-color: #5cb85c !important;
    
    

} 

/* -webkit-appearance: button;
background-color: solid;
background-image: none; */

#botonreset{
    background-color: #f0ad4e !important;
    
}


input:invalid:required {
    border: 2px solid rgb(255, 0, 0) !important;
  }
  
    /* input:invalid:required {
    background-image: linear-gradient(to right, rgb(219, 17, 51), rgb(243, 155, 13));
  }  
  
  input:valid:required {
    background-image: linear-gradient(to right, rgb(108, 219, 17), rgb(17, 84, 13));
  }   */

  input:valid:required {
    border: 2px solid rgb(45, 235, 11) !important;
  }

  label {
      font-size: 20px !important;
  }

  small {
      /* background-color: #5993e4 !important; */
      text-align: center !important;
      /* color: rgb(204, 170, 45) !important; */
      font-size: 16px !important;
    }

#ligaterminos {
    color: blue !important;
}