h1{
    text-align: center;
}

#botonenviar{

    background-color: #5cb85c !important;
    
    

} 

/* -webkit-appearance: button;
background-color: solid;
background-image: none; */

#botonreset{
    background-color: #f0ad4e !important;
    
}
